@media (max-width: 400px) {
    .conteudo-principal {
        width: 100%;
        border-radius: 0;
    }

    header {
        width: 100%;
        border-radius: 0;
    }

    header h1 {
        width: 100%;
    }
}